<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
</head>
<body>
<form action="" method="post">
	<p>
		<label for="name">Your name:</label>
		{%if first_time or name%}
		<input type="text" name="name" value="{{name}}">
		{%else%}
		<input type="text" name="name" style="border: 3px solid red">
		{%endif%}
	</p>
	<p>
		<label for="login">Login:</label>
		{%if repeat%}
		<input type="text" name="login" value="{{login}}" style="border: 3px solid red">
		{%else%}
		{%if first_time or login%}
		<input type="text" name="login" value="{{login}}">
		{%else%}
		<input type="text" name="login" style="border: 3px solid red">
		{%endif%}
		{%endif%}
	</p>
	<p>
		<label for="password">Password:</label>
		{%if first_time or password%}
		<input type="password" name="password" value="{{password}}">
		{%else%}
		<input type="password" name="password" style="border: 3px solid red">
		{%endif%}
	</p>
	<p>
		<input type="submit" value="Sign In">
	</p>
</form>

{%if repeat%}
<p>Пользователь с таким логином уже существует</p>
{%endif%}

</body>
</html>
