<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="" method="post">
    <p>
        <label for="username">Username</label>
	{%if username or first_time%}
        <input type="text" name="username" value={{username}}>
	{%else%}
        <input type="text" name="username" style="border: 3px solid red">
	{%endif%}
    </p>

    <p>
        <label for="password">Password</label>
        {%if password or first_time%}
        <input type="password" name="password" value="{{password}}">
        {%else%}
        <input type="password" name="password" style="border: 3px solid red">
        {%endif%}
    </p>
    <p>
        <input type="submit" value="login" name="login">
    </p>
    <p>
        <input type="submit" value="registration" name="registration">
    </p>

</form>

{%if db_error%}
<p>Неверный логин или пароль</p>
{%endif%}

</body>
</html>
